.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: radial-gradient(
    circle at 30% 50%,
    rgba(81, 165, 255, 0.2),
    rgba(81, 165, 255, 0) 70%
  );
  text-align: center; /* Add this line to center the h1 */
  flex-direction: column;

}
